body {
  font-family: sans-serif;
  min-width: 560px;
}

#fridgeView, .statsView {
  background-color: rgb(180, 220, 255);
  padding: 30px;
  border-top: 5px solid grey;
}

#fridgeView {
  padding-right: 100px;
}

.statsContainer {
  background-color: white;
  border: 5px solid grey;
  border-radius: 20px;
  min-height: 100px;
  padding: 15px;
}

.fridgeItem {
  position: relative;
  border: 5px solid white;
  border-radius: 10px;
  padding: 5px;
  min-height: 80px;
  min-width: 120px;
  max-width: 150px;
  margin-bottom: 15px;
  padding-right: 15px;
}

.itemNameLabel, .daysToExpLabel {
  font-weight: bold;
}

.itemName, .daysToExp {
  font-weight: normal;
}

.newItemForm {
  margin: 20px;
}

nav, header, .statsHeader {
  margin: 0px 10px 0px 20px;
}

nav a {
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  left: 85%;
  top: 5%;
}

.glyphicon {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
}

.glyphicon:hover {
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

.modal-content {
  padding: 20px;
  max-width: 500px
}

.glyphicon-ok {
  position: absolute;
  left:90%;
  top:75%;
}

.logoutBtn {
  float: right;
}
