<div id='container'>
  <nav>
    <a href='#'>Fridge</a>
    <a href='#'>Get Stats</a>
    <a href='#' ng-click='signout()'>Log Out</a>
  </nav>
  <hr>
  <form name='newItemForm' ng-submit='addItem()'>
    <h3>Enter new item:</h3>
    <div>
      <label>Item Name:</label>
      <input ng-model='item.name' />
    </div>
    <div>
      <label>Expiration Date:</label>
      <input type='date' ng-model='item.expDate' />
    </div>
    <button type='submit'>Submit</button>
  </form>
  <div id='fridgeView'>
    <ul>
      <li class='fridgeItem' ng-repeat="item in storage">
        <div class='itemName' ng-style='getColor(item)'>{{ item.name }}</div>
      </li>
    </ul>
  </div>
</div>