<div id='container'>
  <nav>
    <a href='#/fridge'>My Fridge</a>
    <a href='#/stats'>Get Stats</a>
    <a href='#' class='logoutBtn' ng-click='signout()'>Log Out</a>
  </nav>
  <hr>
  <form class='newItemForm' name='newItemForm' ng-submit='addItem()'>
    <h3>Enter new item:</h3>
    <div>
      <label for='item-name-input'>Item Name:</label>
      <input id='item-name-input' ng-model='item.name' />
    </div>
    <div>
      <label for='input-date'>Expiration Date:</label>
      <input id='input-date' type='date' ng-model='item.expDate' value='2016-02-17'/>
      <button type='submit'>Submit</button>
    </div>
  </form>
  <div id='fridgeView'>
    <div class=row ng-repeat="items in storage | groupBy:4">
      <div class="col-xs-3 letter-box" ng-repeat="item in items" >
        <div class='fridgeItem' ng-style='getColor(item)'>
          <div class='itemNameLabel'>Item:
            <span class='itemName'>{{ item.name }}</span>
          </div>
          <div class='daysToExpLabel'>Days To Exp:
            <span class='daysToExp'>{{ daysToExpiry(item.expDate) }} </span>
          </div>
          <div class='dropdown'>
            <a class="glyphicon glyphicon-remove dropdown-toggle" data-toggle="dropdown" ng-click='makeActive(item, $index)'>
            </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" data-toggle="modal" data-target="#theModal">Finished</a>
                </li>
                <li>
                  <a href="#" ng-click='finishItem(item, 100, $index)'>Toss</a>
                </li>
                <li>
                  <a href="#" ng-click='removeItem(item, $index)'>Remove</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id='theModal' tabindex="-1" role="dialog">
  <div class="modal-dialog" role='document'>
    <div class="modal-content">
      <h3>What percent of this item did you finish?</h3>
      <form oninput="amount.value=percentSlider.value + '%'">
        <input id="percentSlider" type="range" min="0" max="100" step="1" value='100'/>
        <output name="amount" for="percentSlider">100%</output>
        <button data-dismiss="modal" type='submit' class='glyphicon glyphicon-ok' ng-submit='finishItem(amount.value)'/>
      </form>
    </div>
  </div>
</div>





