<div id='container'>
  <nav>
    <a href='#/fridge'>My Fridge</a>
    <a href='#/stats'>Get Stats</a>
    <a href='#' class='logoutBtn' ng-click='signout()'>Log Out</a>
  </nav>
  <hr>
    <h3 class='statsHeader'>Stats:</h3>
    <div class='statsView'>
      <div class='statsContainer'>
        <div class='stat'>You have finished 
          <span class='statVal'>{{ consumedQty }}</span> 
          total items
        </div>
        <div class='stat'>There are
          <span class='statVal'>{{ expiringQty }}</span> items in your fridge expiring in the next week
        </div>
        <div class='chartView'>
          <container class='chartContainerL'>
            <h4>Total Waste % (qty)</h4>
            <div id='pieChart'></div>
          </container>
          <container class='chartContainerR'>
            <h4>Waste per Month ($)</h4>
            <div id='lineChart'></div>
          </container>
          <div>Set monthly waste goal: $
            <input ng-model='goal' ng-change='updateGoal()'></input>
          </div>
          <div class='clear'></div>
        </div>
      </div>
    </div>
</div>